.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 94px;
  width: 176px;
  align-items: center;
  justify-content: center;
}
